<!-- #region Scripts insertions -->
<script src="~/Scripts/ViewModels/ArticleVM.js"></script>
<script src="~/Scripts/ViewModels/IndexVM.js"></script>


<div class="jumbotron">
    <h1>Web CMS</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row" id="page" data-bind="foreach: pages">
    <div class="col-md-4">
        <h2 data-bind=" text: PageName"></h2>
        <p data-bind="text:PageDescription"></p>
        <p>
            <a class="btn btn-default" href="#" data-bind="attr: {'id': Id}" onclick="articleApp.articleVM.goToPageDetails(this)">View more &raquo;</a>
        </p>
    </div>

</div>
<script>
    ko.applyBindings(indexApp.indexVM, document.getElementById("page"));
    indexApp.indexVM.initPages();
</script>

