<script src="~/Scripts/ViewModels/ArticleVM.js"></script>

<h2>PageDetails</h2>
<div id="article">
    <div data-bind="foreach: articles()">
        <p data-bind="text: AnswerText"></p>
    </div>
</div>

<script>
    ko.applyBindings(articleApp.articleVM, document.getElementById("article"));
</script>

